.full-width-textarea {
  width: 100% !important;
  padding: 15px !important;
  border-radius: 8px !important;
  border: 1px solid #e9ecef !important;
  font-size: 1rem !important;
  color: #333 !important;
  background-color: #ffffff !important; /* Белый фон по умолчанию */
  transition: all 0.2s ease !important;
  resize: vertical;
}

.full-width-textarea:focus {
  border-color: #003015 !important;
  background-color: #ffffff !important;
  box-shadow: 0 0 0 4px rgba(0, 48, 21, 0.1) !important;
  outline: none !important;
}

.full-width-textarea:focus::placeholder {
  color: transparent;
}

.heading {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: #495057 !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
}
