.card-header {
  padding: 0;
  text-align: center;
  background-color: #ffc107;
}

.accordion>.card>.card-header {
    border-radius: 0;
    margin-bottom: 3px;
}

.card-header .btn-link {
  font-size: 1.45rem;
  color: #2d4c41;
  font-weight: 750;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  font-size: 23px;
  margin-left: 10px;
  font-style: italic;
  font-weight: unset;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
  position: relative;
  cursor: pointer;
  appearance: none;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  transition: background-color 0.2s, border-color 0.2s;
}

.form-check-input:checked {
  background-color: #2d4c41;
  border-color: green;
}

.form-check-input:checked::after {
  content: '';
  position: absolute;
  top: 0.2em;
  left: 0.3em;
  width: 0.5em;
  height: 0.8em;
  border: solid white;
  border-width: 0 0.2em 0.2em 0;
  transform: rotate(38deg);
}

.card-body {
  padding: 1rem;
  background-color: transparent;
  box-shadow: inset 0px 2px 11px 0px #91979d;
  border-radius: 5px;
}

.btn
{
text-align: left;
}

button {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.full-width-textarea {
  width: 100%;
}

.button-custom {
  display: inline-block;
  width: 100%;
  text-align: left;
  background-color: #2d4c41;
  color: #ffc107;
  border: none;
  font-size: 1.45rem;
  font-weight: 750;
  transition: background-color 0.2s, color 0.2s;
}

.button-custom:hover {
  background-color: #375a4d;
  color: #ffce3a;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.mt-4 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 1rem;
}

.text-success-custom {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-custom.mr-2, .button-custom.mr-2
{
 margin-bottom: 5px;
 text-align: center;
}

.mr-3
{
  text-align: center;
}

h5 {
  font-size: 23px;
}

