/* reports.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.reports-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../images/bgimg.avif');
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

.reports-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #2d4c41;
}

.reports-table {
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9); /* Translucent white background */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow for better visibility */
}

.reports-table thead {
  background-color: #2d4c41;
  color: white;
}

.reports-table th, .reports-table td {
  padding: 15px;
  text-align: center;
}

.reports-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.reports-table tbody tr:hover {
  background-color: #e0e0e0;
}

.reports-actions button {
  margin: 5px;
}

/* Style for the Download PDF button */
.btn-download-pdf {
  background-color: #2d4c41;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-download-pdf:hover {
  background-color: #ffc107;
}
